<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the game</h5>
          <p class="grey-text text-lighten-4">A light weight interesting game built on Javascript and HTML5 using node.js and redis in backend running on express engine.</p>


        </div>
        <div class="col l3 s12">
          
        </div>
        <div class="col l3 s12">
            <a href="https://github.com/Adityagaddhyan/Four-in-a-line" ><h2>Github</h2></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/adityagaddhyan/">Aditya Gaddhyan</a>
      </div>
    </div>
  </footer>


</body>

</html>