<%- include("partials/header.ejs") %>
<div class="container">
    <div class="canvasbox">
        <div><canvas class="thincanvas" id="myCanvas1" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas2" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas3" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas4" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas5" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas6" resize> </canvas></div>
        <div><canvas class="thincanvas" id="myCanvas7" resize> </canvas></div>
    </div>
    <div>
        
    </div>

</div>


<%- include("partials/footer.ejs") %>
