<%- include("partials/header.ejs") %>
<div class="container">
    <div class="canvasbox">
        <div><canvas class="thincanvas" id="myCanvas1" resize> </canvas></div>
        
    </div>
    <div class="optionbox">
        <button class="btn-floating btn-large waves-effect waves-light red" id="button1"><i class="material-icons">1</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button2"><i class="material-icons">2</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button3"><i class="material-icons">3</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button4"><i class="material-icons">4</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button5"><i class="material-icons">5</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button6"><i class="material-icons">6</i></button>
        <button class="btn-floating btn-large waves-effect waves-light red" id="button7"><i class="material-icons">7</i></button>
    </div>

</div>

<script type="text/javascript" src="/js/script.js"></script>
<%- include("partials/footer.ejs") %>
