<%- include("partials/header.ejs") %>
<div class="container">
    <div class="canvasbox">
        <div class="container" style="display: block;">
            <div class="col s12"><h3 id="info">jbj</h3></div>
            
        </div>
        <div class="container"><canvas class="thincanvas" id="myCanvas1" resize> </canvas></div>
        
    </div>
    

</div>

<script type="text/javascript" src="/js/script.js"></script>
<script type="text/paperscript" src="/js/paper.js" canvas="myCanvas1"></script>
<%- include("partials/footer.ejs") %>
