<%- include("partials/header.ejs") %>
<div class="container">
    <div class="card-panel #fb8c00 orange center">
        <h3 id="info">Player 1's move!</h3>
    </div>
    <div class="canvasbox">

        <div class="container"><canvas class="thincanvas" id="myCanvas1" resize> </canvas></div>

    </div>
    <div class="row center">
        <a href="/start" id="newgame"
            class="btn-large waves-effect waves-light orange">Start New Game</a>
    </div>
    <br><br>


</div>

<script type="text/javascript" src="/js/script.js"></script>
<script type="text/paperscript" src="/js/paper.js" canvas="myCanvas1"></script>
<%- include("partials/footer.ejs") %>