<%- include("partials/header.ejs") %>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Four In A Line</h1>
        <div class="row center">
            <h5 class="header col s12 light">A game you cannot stop getting addicted to</h5>
        </div>
        <div class="row center">
            <form action="">
                <div class="container" id="nameblock">
                    <input type="text" name="username" id="username" placeholder="enter your name">
                </div>
                <div class="container">
                    <button href="#" id="download-button" class="btn-large waves-effect waves-light orange">Start
                        Game</button>
                </div>
                
            </form>
        </div>
        <br><br>

    </div>
</div>


<%- include("partials/footer.ejs") %>