
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

  main {
    flex: 1 0 auto;
  }
 .thincanvas{
   width:630px;
   height: 630px;
   border: 1px solid black;
 }
  .canvasbox{
    display: flex;
    margin: 10% auto;
  justify-content: center;
  margin-top: 5%;
}
.card-panel-green{
  background: #b2ff59;
  color: blue;
}
.card-panel{
  margin-top: 3%;
  color:white;
  padding: 5;
}

.optionbox{
  display: flex;
  margin:2% 14%;
  justify-content: space-between;
}
#newgame{
  display: none;
}
  